.selection-button {
  height: 80px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 40px;
  font-size: 18px;
  justify-content: space-between;
}

.create-group-color {
  color: black;
  border: 2px solid lawngreen;
  background-color: rgb(195 238 153 / 50%);
}

.create-group-color:hover {
  color: white;
  background-color: forestgreen;
  border: 2px solid limegreen;
}

.join-group-color {
  color: black;
  border: 2px solid orange;
  background-color: rgba(238, 201, 153, 0.5);
}

.join-group-color:hover {
  color: white;
  background-color: darkorange;
  border: 2px solid orange;
}

.connect-color {
  color: black;
  border: 2px solid rgb(49, 231, 231);
  background-color: rgba(164, 221, 221, 0.766);
}

.connect-color:hover {
  color: white;
  background-color: rgb(4, 95, 145);
  border: 2px solid #0067ffcf;
}

.group-row {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding: 15px;
}

/* Notification Popover Styling */
.popover {
  max-width: 300px;
}

.popover-body {
  font-size: 14px;
  line-height: 1.5;
}

.list-unstyled li {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
}
